@tailwind base;
@tailwind components;
@tailwind utilities;

/* xl */
@media (min-width: 1297px) and (max-width: 3000px) {
    .fuentes{
        @apply
        font-sans
        text-3xl
        not-italic
        font-semibold
        text-center
        p-0
    }
    .item {
        width: 68%;
        @apply
        justify-center
        flex 
        
    }
    .itemIzq {
        width: 32%;
        background: linear-gradient(179.93deg, rgba(252, 92, 125, 0.3825) 0.06%, rgba(167, 109, 186, 0.351) 50%, rgba(106, 130, 251, 0.396) 99.94%);
        @apply
        flex 
        flex-wrap
        justify-center 
        px-5 
    }
    .grid2 {
        display:grid;
        grid-gap:10px;
        @apply
        grid-cols-2
        align-middle
    }
    .subtitleL {
        @apply
          text-gray-900
    }
    .subtitleR  {
        color : #5B76FC;
    }
    .progressBk{
        background: rgba(193, 195, 199, 0.986);
    }
}

/* lg */
@media (min-width: 1024px) and (max-width: 1296px) {
    .fuentes{
        color : #5B76FC;
        @apply
        font-sans
        text-3xl
        not-italic
        font-semibold
        text-center
        p-0
    }
    .item {
        width: 68%;
        @apply
        justify-center 
        items-center 
    }
    .itemIzq {
        width: 32%;
        background: linear-gradient(179.93deg, rgba(252, 92, 125, 0.3825) 0.06%, rgba(167, 109, 186, 0.351) 50%, rgba(106, 130, 251, 0.396) 99.94%);
        @apply
        flex 
        flex-wrap
        justify-center 
        px-5 
    }
    .grid2 {
        display:grid;
        grid-gap:10px;
        @apply
        grid-cols-2
    
    }
    .progressBk{
        background: rgba(193, 195, 199, 0.986);
    }
}

/* md */
@media (min-width: 768px) and (max-width: 1023px) {
    .fuentes{
        @apply
        font-sans
        text-3xl
        not-italic
        font-semibold
        text-center
        p-0
    }
    .item {
        width: 50%;
        @apply
        pt-3
        
    }
    .itemIzq {
        width: 50%;
        background: linear-gradient(179.93deg, rgba(252, 92, 125, 0.3825) 0.06%, rgba(167, 109, 186, 0.351) 50%, rgba(106, 130, 251, 0.396) 99.94%);
        @apply
        justify-center 
        px-5 
        pt-3
    }
    .grid2{
        display:grid;
        grid-gap:10px;
        @apply
        grid-cols-1
    }
    .subtitleL {
        @apply
          text-gray-900
    }
    .subtitleR  {
        color : #5B76FC;
    }
    .progressBk{
        background: rgba(239, 243, 251, 0.83);
    }
}

/* sm */
@media (max-width: 767px) {
    .fuentes{
        @apply
        font-sans
        text-3xl
        not-italic
        font-semibold
        text-center
        p-0
        text-gray-900
  }
    .itemIzq {
        width: 100%;
        background: linear-gradient(179.93deg, rgba(252, 92, 125, 0.3825) 0.06%, rgba(167, 109, 186, 0.351) 50%, rgba(106, 130, 251, 0.396) 99.94%);
        @apply
        justify-center 
        p-8 
    }
    .progressBk{
        background: rgba(239, 243, 251, 0.83);
    }
}





.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.box {
	@apply
        mx-4
        px-3

}

.subitem {
    color : #FC5C7D;
    @apply
	  font-sans
	  text-xl
	  not-italic
	  font-medium
	  text-justify
	  p-0
}

.itemInf {
    color : #6B7280;
    @apply
	  font-sans
	  text-xl
	  not-italic
	  font-bold
	  text-justify
	  p-0
}

.font-xl{
    @apply
    font-sans
    text-xl
    not-italic
    font-normal
    text-justify
    p-0
    text-gray-900
}

.progressB{
    background: rgba(201, 105, 169, 0.86);
}



